LABEL_STUDIO_API_KEY=your_api_key_here
PROJECT_ID=7
# LABEL_STUDIO_HOST=http://localhost:8080  # only needed for train_local.py if not using default
# TRAINING_EPOCHS=10
# MODEL_FILE=checkpoint_best_total.pth
